.header {
  max-width: 1184px;
  height: 52px;
  display: flex;
  align-items: flex-end;
  padding: 28px 48px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .header {
    padding: 28px 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 16px;
  }
}
