.photo-grid__gallery {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 16px 16px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1024px) {
    .photo-grid__gallery {
      grid-template-columns: repeat(3, minmax(0, 300px));
      gap: 14px 14px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .photo-grid__gallery{
      grid-template-columns: repeat(2, minmax(0, 352px));
      gap: 16px 16px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .photo-grid__gallery {
      grid-template-columns: 288px;
      grid-template-rows: repeat(12, 216px);
      row-gap: 12px;
    }
  }
  