.footer__links {
  max-width: 465px;
  display: flex;
  column-gap: 18px;
}

@media screen and (max-width: 750px) {
  .footer__links {
    max-width: 320px;
    flex-direction: column;
    row-gap: 32px;
  }
}
