.intro {
  color: #fff;
  max-width: 984px;
  margin: 0 auto;
  padding: 64px 48px 48px;
}

@media (max-width: 800px) {
  .intro {
    padding: 93px 24px 90px;
  }
}

@media (max-width: 425px) {
  .intro {
    padding: 70px 14px 66px;
  }
}