.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  z-index: 0;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  row-gap: 32px;
}

.cover__overlay::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 44, 47, 0.3);
  z-index: -1;
  transition: all .5s ease-in-out;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
    row-gap: 16px;
  }
}